<% include('../partials/header.ejs') %>

  <!-- Include Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  <!-- Include SweetAlert2 CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

  <!-- Include Cropper.js CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">

  <!-- Your custom CSS -->
  <link rel="stylesheet" href="/css/admindashboard.css">

  <style>
    input::placeholder,
    textarea::placeholder {
      color: rgb(147, 145, 145);
    }

    /* Center the form and adjust the width */
    .form-container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #f9f9f9;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .image-group {
  text-align: center;
  margin: 10px; 
}

.image-group img {
  display: block;
  margin: 0 auto;
}

.image-group button {
  margin-top: 10px; 
  display: block; 
  width: 100%; 
}
  </style>

  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row" style="background-color: #6a008a;">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center"
        style="background-color: #6a008a;">
        <div style="background-color: #6a008a;">Purple</div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-stretch">
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <div class="row row-offcanvas row-offcanvas-right">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="/admin/dashboard">
                <span class="menu-title">Dashboard</span>
                <span class="menu-sub-title">( 2 new updates )</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="/admin/users" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Users</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
              </a>
             
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/products">
                <span class="menu-title">Products</span>
                <i class="mdi mdi-contacts menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/categories">
                <span class="menu-title">Categories</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/orders">
                <span class="menu-title">Orders</span>
                <i class="mdi mdi-chart-bar menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/coupons">
                <span class="menu-title">Coupons</span>
                <i class="mdi mdi-table-large menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/offers">
                <span class="menu-title">Offers</span>
                <i class="mdi mdi-table-large menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/salesreport">
                <span class="menu-title">Sales Report</span>
                <i class="mdi mdi-table-large menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="/admin/logout" aria-expanded="false" aria-controls="auth">
                <span class="menu-title">Logout</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-lock menu-icon"></i>
              </a>
              
            </li>
          </ul>
         
         
         
        </nav>
        <!-- partial -->
        <div class="content-wrapper">
          <!-- Add the form for adding a new product -->
          <div class="card-body">
            <div class="form-container">
              <h4 class="card-title">Edit Offer</h4>
              <form id="offerAddForm" enctype="multipart/form-data">
                <!-- Name Field -->
                 <input type="hidden" name="" value="<%=offer._id%>" id="offerId">
                <div class="form-group">
                  <label for="offerName">Name</label>
                  <input type="text" id="offername" value="<%=offer.name%>" name="name" class="form-control" placeholder="Enter offer name"
                    required>
                  <div id="validateName" class="text-danger"></div>
                </div>
                
                <div class="form-group">
                  <label for="discountPercentage">Discount Percentagee</label>
                  <input type="number" id="discountPercentage" value="<%=offer.discountPercentage%>" name="discountPercentage" class="form-control"
                    placeholder="Enter offer" required>
                  <div id="validateStock" class="text-danger"></div>
                </div>
                <!-- Quantity Field -->
                <div class="form-group">
                    <label for="startdate">Start Date</label>
                    <input type="date" id="startdate" name="startdate" value="<%= offer.startDate.toISOString().split('T')[0] %>" class="form-control" placeholder="Enter Starting date" required>
                    <div id="validatePrice" class="text-danger"></div>
                  </div>
                  <div class="form-group">
                    <label for="enddate">End Date</label>
                    <input type="date" id="enddate" name="enddate" value="<%= offer.endDate.toISOString().split('T')[0] %>" class="form-control" placeholder="Enter ending date" required>
                    <div id="validatePrice" class="text-danger"></div>
                  </div>
                  
                  <div class="form-group">
                    <label for="productCategory">Category</label>
                    <select name="offertype" id="offertype"  class="form-control" required>
                     <%if(offer.offerType==='category'){%>
                        <option value="<%=offer.offerType%>"><%=offer.offerType%> offer</option>
                     
                        <!-- <option value="category">Category offer</option> -->
                        <option value="product">Product offer</option>
                        <%}else{%>
                            <option value="<%=offer.offerType%>"><%=offer.offerType%> offer</option>
                     
                            <option value="category">Category offer</option>
                            <!-- <option value="product">Product offer</option> -->
                            <%}%>
                    </select>
                    <div id="validateCategory" class="text-danger"></div>
                  </div>
                  <div class="form-group">
                    <label for="offerItem">Select Item</label>
                    <select id="offerItem" name="offerItem" class="form-control" required>
                      <%if(offer.offerType==='category'){%>
                        <option value="<%=offer.category%>">Select an item</option>
                        <%}else{%>
                            <option value="<%=offer.product%>">Select an item</option>
                            <%}%>

                    </select>
                    <div id="validateItem" class="text-danger"></div>
                  </div>
                  
                  
                  

                
                <!-- Save Button -->
                <div class="col-12 text-center">
                  <button type="submit" class="btn btn-primary">Save Offer</button>
                  <button class="btn btn-primary">
                    <a href="/admin/offers" style="color: white;">Back</a>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
      <!-- row-offcanvas ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>

  <script>
    document.getElementById('offertype').addEventListener('change',async(event)=>{
        event.preventDefault()
        const selected=document.getElementById('offertype')
        const offerItemSelect=document.getElementById('offerItem')
        offerItemSelect.innerHTML= '<option value="">Select an item</option>'
        const type=selected.value
        if(type === 'category'){
            const response= await fetch('/admin/offers/addoffer/getcategories',{
              method:'GET',
              headers:{
                'Content-Type':'application/json'
              },

            })
            const result=await response.json()
            const categories=result.categories
            categories.forEach(category => {
              const option=document.createElement('option')
              option.value=category._id
              option.text=category.name
              offerItemSelect.appendChild(option)
            });

        }else if(type === 'product'){
            console.log('this is product')
          const response = await fetch('/admin/offers/addoffers/getproducts',{
            method:'GET',
            headers:{
              'Content-Type':'application/json'
            }
          })
          const result=await response.json()
          console.log('this is result:',result)
          const products=result.products
          products.forEach(product => {
              const option=document.createElement('option')
              option.value=product._id
              option.text=product.name
              offerItemSelect.appendChild(option)
            });
        }
    })
  </script>
  <script>
    document.addEventListener('DOMContentLoaded',async ()=>{
      try{
        let itemId;

      const startDate=document.getElementById('startdate')
      const endDate=document.getElementById('enddate')
      const offerName=document.getElementById('offername')
      const offerId=document.getElementById('offerId')
      console.log(offerName)
      const discountPercetage=document.getElementById('discountPercentage')
      const offerType=document.getElementById('offertype')
      const offerItem=document.getElementById('offerItem')
      offerItem.addEventListener('change',async(event)=>{
        itemId=event.target.value
      })
      
      const form=document.getElementById('offerAddForm')
      form.addEventListener('submit',async(event)=>{
        console.log('button clicked ')
        event.preventDefault()
        const startDateValue=new Date(startDate.value)
      const endDateValue = new Date(endDate.value)
        if(startDateValue.getDate()>=endDateValue.getDate()){
        alert('check the date entered agian')
        return 
      }
      offerNameValue=offerName.value
      discountPercentageValue=discountPercetage.value
      offerTypeValue=offerType.value

      const formData={
        offerId:offerId.value,startDate:startDateValue,endDate:endDateValue,offerName:offerNameValue,discountPercentage:discountPercentageValue,offerType:offerTypeValue,itemId
      }
      console.log(formData)
      if(offerTypeValue === 'category'){
        const response = await fetch ('/admin/offers/editcategoryoffer',{
          method:'POST',
          headers:{
            'Content-Type':'application/json'
          },
          body:JSON.stringify(formData)
        })
        const result = await response.json()
        if(response.ok){
          Swal.fire({
            title:'success',
            text:result.message,
            icon:'success',
            confirmButtonText:'OK'
          }).then(()=>{
            window.location.href='/admin/offers'
          })
        }
      }else if(offerTypeValue === 'product'){
        console.log('this is fetch part')
        const response = await fetch('/admin/offers/editproductoffer',{
          method:'POST',
          headers:{
            'Content-Type':'application/json'
          },
          body:JSON.stringify(formData)
        })
        const result = await response.json()
        if(response.ok){
          Swal.fire({
            title:'success',
            text:result.message,
            icon:'success',
            confirmButtonText:'OK'
          }).then(()=>{
            window.location.href='/admin/offers'
          })
        }
      }
      })
      }catch(err){
        console.error(err)
      }
    })
  </script>
  <!-- Include jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- Include Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

  <!-- Include SweetAlert2 JS -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <!-- Include Cropper.js JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>

  <!-- <script src="/js/adminProductsAddScript.js"> -->

  </script>

  <% include('../partials/footer.ejs') %>