<%-include('../partials/header') %>

  <link rel="stylesheet" href="/css/admindashboard.css">
  <style>
    input#categoryName::placeholder {
      color: black;

    }
    .btn a{
      color: aliceblue;
    }
  </style>

  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row" style="background-color: #6a008a;">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center"
        style="background-color: #6a008a;">
        <div style="background-color: #6a008a;">Purple</div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-stretch">
        <div class="search-field ml-4 d-none d-md-block">
          <form class="d-flex align-items-stretch h-100"  id="searchform" method="get">
            <div class="input-group">
              <input type="hidden" id="page" value="<%=page%>">
              <input type="text" class="form-control bg-transparent border-0" placeholder="Search"
                value="<%= searchterm%>" id="inputsearch">
              <div class="input-group-btn">
                  <button type="button" class="btn bg-transparent dropdown-toggle px-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="mdi mdi-earth"></i>
                  </button>
                 
                </div>
              <div class="input-group-addon bg-transparent border-0 search-button">

                <button type="submit" class="btn btn-sm btn-success px-3 searchbtn">
                  <i class="mdi mdi-magnify">Search</i>
                </button>

              </div>
            </div>
          </form>
        </div>

        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <div class="row row-offcanvas row-offcanvas-right">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="/admin/dashboard">
                <span class="menu-title">Dashboard</span>
                <span class="menu-sub-title">( 2 new updates )</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="/admin/users" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Users</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
              </a>
             
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/products">
                <span class="menu-title">Products</span>
                <i class="mdi mdi-contacts menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/categories">
                <span class="menu-title">Categories</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/orders">
                <span class="menu-title">Orders</span>
                <i class="mdi mdi-chart-bar menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/coupons">
                <span class="menu-title">Coupons</span>
                <i class="mdi mdi-table-large menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/offers">
                <span class="menu-title">Offers</span>
                <i class="mdi mdi-table-large menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/salesreport">
                <span class="menu-title">Sales Report</span>
                <i class="mdi mdi-table-large menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="/admin/logout" aria-expanded="false" aria-controls="auth">
                <span class="menu-title">Logout</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-lock menu-icon"></i>
              </a>
              
            </li>
          </ul>
         
         
         
        </nav>
        <!-- partial -->
        <div class="content-wrapper">


          <div class="row">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Products</h4>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>
                            No.
                          </th>
                          <th>
                            Name
                          </th>
                          <th>
                            Image
                          </th>
                          <th>
                            Category
                          </th>
                          <th>
                            Price
                          </th>
                          <th>
                            Stock
                          </th>
                          <th>
                            Actions
                          </th>


                        </tr>
                      </thead>
                      <tbody>
                        <% products.forEach(product=> { %>
                          <tr>
                            <td>
                              <%= products.indexOf(product) + 1 %>
                            </td>
                            <td>
                              <%= product.name %>
                            </td>
                            <td>
                              <img src="<%= product.imageUrl[0] %>"
                                style="width: 100px; height: 100px; object-fit: cover;">

                            </td>
                          
                            <td>
                              <%= product.category.name %>
                            </td>
                            <td>
                              <%= product.price %>
                            </td>
                            <td>
                              <%= product.stock %>
                            </td>


                            <td>
                              <button type="button" class="btn btn-icons btn-rounded btn-success"><a
                                  href="/admin/Products/edit/<%=product._id%>">Edit</a> </button>
                              <button type="button" class="btn btn-icons btn-rounded <%=product.isListed?'btn-warning':'btn-danger'%> toggleButton" data-id="<%=product._id%>"><%=product.isListed?'unlist':'list'%></button>
                            </td>


                          </tr>
                          <% }); %>
                      </tbody>
                      <nav aria-label="Page navigation">
                        <ul class="pagination">
                          <% if (page> 1) { %>
                            <li class="page-item">
                              <a class="page-link" href="?page=1&search=<%=searchterm%>">First</a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" href="?page=<%= page - 1 %>&search=<%=searchterm%>">Previous</a>
                            </li>
                            <% } %>

                              <% for (let i=1; i <=totalPages; i++) { %>
                                <li class="page-item <%= i === page ? 'active' : '' %>">
                                  <a class="page-link" href="?page=<%= i %>&search=<%=searchterm%>">
                                    <%= i %>
                                  </a>
                                </li>
                                <% } %>

                                  <% if (page < totalPages) { %>
                                    <li class="page-item">
                                      <a class="page-link" href="?page=<%= page + 1 %>&search=<%=searchterm%>">Next</a>
                                    </li>
                                    <li class="page-item">
                                      <a class="page-link" href="?page=<%= totalPages %>&search=<%=searchterm%>">Last</a>
                                    </li>
                                    <% } %>
                        </ul>
                      </nav>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12 text-center">
              <a href="/admin/products/addproduct" class="btn btn-primary btn-lg">
                Add Products
              </a>
            </div>
          </div>

        </div>
        <!-- row-offcanvas ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <script>
      const form=document.getElementById('searchform')
      const page=document.getElementById('page')
      const search=document.getElementById('inputsearch')
      form.addEventListener('submit',async(event)=>{
        event.preventDefault()
        try{
          const pageNum=page.value 
          const searchVal=search.value 
          console.log('this is pageNum',pageNum)
          console.log('this is searchVal',searchVal)
          window.location.href=`/admin/products?search=${searchVal}&page=${pageNum}`
        }catch(err){
          console.error(err)
        }
      })
 </script>
    <!-- plugins:js -->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script src="node_modules/chart.js/dist/Chart.min.js"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="js/off-canvas.js"></script>
    <script src="js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="js/dashboard.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
    <!-- End custom js for this page-->
    <script  src="/js/adminProductsScript.js">
     
    </script>
    <%-include('../partials/footer') %>